<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Test</title>
    <link rel="stylesheet" href="../styles/base.css" type="text/css">
    <link rel="stylesheet" href="../styles/header.css" type="text/css">
    <link rel="stylesheet" href="../styles/resets.css" type="text/css">
    <link rel="stylesheet" href="../styles/form.css" type="text/css">
    <link rel="stylesheet" href="../styles/footer.css" type="text/css">
</head>

<body>
    <header>
        <div clas="">
            Logo
        </div>
        <div class="">
            Navigation
        </div>

    </header>
    <main>
        <section>
            <form class="" onsubmit="return handleSubmit(event)">
                <input id="name" type="text" name="input" value="" onblue="onBlur()" placeholder="Name">
                <input type="submit" name="" value="submit" onclick="return handleSubmit(event)"
                    onsubmit="return handleSubmit(event)">
            </form>
        </section>
        <section>
            <strong>Form Results:</strong>
            <div id="results"></div>
        </section>
    </main>
    <footer>
        <p>This is a footer</p>
    </footer>
</body>

</html>